<ng-container >
  <h2>Lista de Tarefas</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tipo</th>
        <th scope="col">Descrição</th>
        <th scope="col">Data Inicial</th>
        <th scope="col">Data Conclusão</th>
        <th scope="col">Status da Tarefa</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tarefa of tarefas; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ tarefa.tipo }}</td>
        <td>{{ tarefa.descricao }}</td>
        <td>{{ tarefa.data_inicial }}</td>
        <td>{{ tarefa.data_conclusao }}</td>
        <td *ngIf="tarefa.status_tarefa == 'Em andamento'" class="sttAndamento">{{ tarefa.status_tarefa }}</td>
        <td *ngIf="tarefa.status_tarefa == 'Concluída'" class="sttConcluida">{{ tarefa.status_tarefa }}</td>
        <td>
          <button type="button" class="btn btn-danger btn-sm"  *ngIf="tarefa.status_tarefa == 'Concluída'">Excluir Tarefa</button>
          <button type="button" class="btn btn-success btn-sm"  *ngIf="tarefa.status_tarefa == 'Em andamento'">Concluída</button>
        </td>

      </tr>
    </tbody>
  </table>
</ng-container>
