<ng-container >
  <h2>Lista de Tarefas</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tipo</th>
        <th scope="col">Descrição</th>
        <th scope="col">Data Inicial</th>
        <th scope="col">Data Conclusão</th>
        <th scope="col">Status da Tarefa</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tarefa of dataToShow">
        <th scope="row">{{ tarefa.id }}</th>
        <td>{{ tarefa.tipo }}</td>
        <td>{{ tarefa.descricao }}</td>
        <td >{{ tarefa.data_inicial | date: 'dd/MM/yyyy' }}</td>
        <td>{{ tarefa.data_conclusao | date: 'dd/MM/yyyy'  }}</td>
        <td *ngIf="tarefa.status_tarefa == 'Em andamento'" class="sttAndamento">{{ tarefa.status_tarefa }}</td>
        <td *ngIf="tarefa.status_tarefa == 'Concluída'" class="sttConcluida">{{ tarefa.status_tarefa }}</td>
        <td>
          <button type="button" class="btn btn-danger btn-sm"  *ngIf="tarefa.status_tarefa == 'Concluída'" (click)="excluirTarefa(tarefa)">Excluir Tarefa</button>
          <button type="button" class="btn btn-success btn-sm"  *ngIf="tarefa.status_tarefa == 'Em andamento'" (click)="marcarTarefaConcluida(tarefa)">Concluída</button>
        </td>

      </tr>
    </tbody>
  </table>
<!-- Exibe os controles de paginação -->
<div class="pagination-controls">
  <button class="btn btn-success" (click)="anteriorPagina()"><i class="fas fa-arrow-left"></i> Anterior</button>
  <button class="btn btn-success" (click)="proximaPagina()">Próxima <i class="fas fa-arrow-right"></i></button>
</div>
</ng-container>
