<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Registro de Tarefas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Início</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="listar">Ver Tarefas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Suporte</a>
      </li>

    </ul>
  </div>
  <button *ngIf="exibirBotao" class="btn btn-primary" style="float: right; margin-right: 15px;" (click)="abrirModal(modalContent)">+ Adicionar Tarefa</button>
</nav>
<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Cadastro de Tarefas</h4>
  </div>
  <div class="modal-body">
    <div class="input-group flex-nowrap">
      <input type="text" class="form-control" placeholder="Tipo da Tarefa" aria-label="Tipo da Tarefa" aria-describedby="addon-wrapping">
    </div>
    <br>
    <div class="input-group flex-nowrap">
      <input type="text" class="form-control" placeholder="Descrição" aria-label="Descrição" aria-describedby="addon-wrapping">
    </div>
    <br>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">Data Inicial</span>
      <input type="date" class="form-control" aria-label="Descrição" aria-describedby="addon-wrapping">
    </div>
    <br>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">Data Conclusão</span>
      <input type="date" class="form-control" aria-label="Descrição" aria-describedby="addon-wrapping">
    </div>
    <br>
    <hr>
    <button class="btn btn-danger" style="float: right; margin-right: 15px;" (click)="modal.dismiss('Cross click')">Cancelar</button>
    <button class="btn btn-primary" style="float: right; margin-right: 15px;">Salvar</button>
  </div>
</ng-template>
