<h2 id="titulo">Contato suporte</h2>
  <div class="container">
    <div class="mb-3">
      <label for="basic-url" class="form-label">Digite seu nome completo</label>
      <div class="input-group">
        <span class="input-group-text" id="basic-addon3">Nome</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
      </div>
    </div>
    <div class="mb-3">
      <label for="basic-url" class="form-label">Digite seu nome email</label>
      <div class="input-group">
        <span class="input-group-text" id="basic-addon3">examplo@gmail.com</span>
        <input type="email" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
      </div>
    </div>
    <div class="mb-3">
      <label for="basic-url" class="form-label">Descreva seu problema</label>
      <div class="input-group">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <hr>
    <button class="btn btn-danger" style="float: right; margin-right: 15px;">Cancelar</button>
    <button class="btn btn-success" style="float: right; margin-right: 15px;">Enviar</button>
  </div>
