#titulo{
  padding: 50px;
  align-items: center;
  text-align: center;
}
#subtitulo{
  margin-top: -55px;
  align-items: center;
  text-align: center;
  font-size: smaller;
}
.container{
  max-width: 30%;
}
